In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#df = pd.read_csv('../FS_2y_before_Bankruptcy_train.csv')

In [3]:
#df.head()

In [4]:
#df['class'].value_counts()

In [5]:
#df.dtypes

In [6]:
#df.replace('?', np.nan, inplace=True)

In [7]:
#print([*df.isnull().sum()])

In [8]:
#df.to_csv("na_filled_train.csv", index=False)

In [109]:
df = pd.read_csv("na_filled_train.csv")

In [3]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,-0.024558,0.30051,0.10733,1.8368,34.382,-0.026711,-0.020067,2.2519,1.06670,0.67673,...,0.062497,-0.036289,0.93750,0.25454,13.6320,3.6930,69.389,5.2602,0.8826,0
1,0.639180,0.00000,1.00000,NaN,29.678,-1.139300,0.760520,NaN,1.11850,1.00000,...,0.679830,0.639180,0.32014,0.00000,NaN,37.8860,0.000,NaN,NaN,0
2,-0.440760,0.47723,0.19260,1.4678,34.555,0.000000,-0.440760,1.0954,1.51860,0.52277,...,-0.290590,-0.843130,1.28710,0.12538,NaN,2.5649,98.950,3.6887,3.8376,0
3,0.119520,0.17679,0.63546,4.5944,117.650,0.251540,0.148750,4.5826,1.12630,0.81017,...,0.112110,0.147520,0.88789,0.00000,8.9302,10.2870,40.355,9.0448,8.5169,0
4,0.230400,0.27095,0.23762,2.5745,-26.928,0.617540,0.282690,2.6907,0.80411,0.72905,...,0.459570,0.316020,0.62320,0.16465,7.9274,6.6605,68.502,5.3283,1.3150,0

In [4]:
print([*enumerate([*df.isnull().sum()])])

[(0, 0), (1, 0), (2, 0), (3, 28), (4, 15), (5, 0), (6, 0), (7, 15), (8, 0), (9, 0), (10, 0), (11, 28), (12, 14), (13, 0), (14, 5), (15, 15), (16, 15), (17, 0), (18, 14), (19, 14), (20, 112), (21, 0), (22, 14), (23, 149), (24, 0), (25, 15), (26, 462), (27, 162), (28, 0), (29, 14), (30, 14), (31, 72), (32, 28), (33, 15), (34, 0), (35, 0), (36, 3100), (37, 0), (38, 14), (39, 28), (40, 142), (41, 14), (42, 14), (43, 14), (44, 418), (45, 28), (46, 57), (47, 0), (48, 14), (49, 15), (50, 0), (51, 60), (52, 162), (53, 162), (54, 0), (55, 14), (56, 1), (57, 10), (58, 1), (59, 420), (60, 20), (61, 14), (62, 28), (63, 162), (64, 0)]

In [5]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,-0.024558,0.30051,0.10733,1.8368,34.382,-0.026711,-0.020067,2.2519,1.06670,0.67673,...,0.062497,-0.036289,0.93750,0.25454,13.6320,3.6930,69.389,5.2602,0.8826,0
1,0.639180,0.00000,1.00000,NaN,29.678,-1.139300,0.760520,NaN,1.11850,1.00000,...,0.679830,0.639180,0.32014,0.00000,NaN,37.8860,0.000,NaN,NaN,0
2,-0.440760,0.47723,0.19260,1.4678,34.555,0.000000,-0.440760,1.0954,1.51860,0.52277,...,-0.290590,-0.843130,1.28710,0.12538,NaN,2.5649,98.950,3.6887,3.8376,0
3,0.119520,0.17679,0.63546,4.5944,117.650,0.251540,0.148750,4.5826,1.12630,0.81017,...,0.112110,0.147520,0.88789,0.00000,8.9302,10.2870,40.355,9.0448,8.5169,0
4,0.230400,0.27095,0.23762,2.5745,-26.928,0.617540,0.282690,2.6907,0.80411,0.72905,...,0.459570,0.316020,0.62320,0.16465,7.9274,6.6605,68.502,5.3283,1.3150,0

In [6]:
#drop_list = []
#for i in (15,17,19,20,34,41,42,44,46,55,57,62):
    #drop_list.append("Attr" + str(i))
    
#df.drop(drop_list, axis=1, inplace=True)

In [7]:
df_raw = pd.read_csv("./na_filled_train.csv")

In [110]:
for idx, col in enumerate(df.columns):
    if df[col].isnull().sum():
        print(col, 'NA found')
    else:
        print(col, 'NA not found')

Attr1 NA not found
Attr2 NA not found
Attr3 NA not found
Attr4 NA found
Attr5 NA found
Attr6 NA not found
Attr7 NA not found
Attr8 NA found
Attr9 NA not found
Attr10 NA not found
Attr11 NA not found
Attr12 NA found
Attr13 NA found
Attr14 NA not found
Attr15 NA found
Attr16 NA found
Attr17 NA found
Attr18 NA not found
Attr19 NA found
Attr20 NA found
Attr21 NA found
Attr22 NA not found
Attr23 NA found
Attr24 NA found
Attr25 NA not found
Attr26 NA found
Attr27 NA found
Attr28 NA found
Attr29 NA not found
Attr30 NA found
Attr31 NA found
Attr32 NA found
Attr33 NA found
Attr34 NA found
Attr35 NA not found
Attr36 NA not found
Attr37 NA found
Attr38 NA not found
Attr39 NA found
Attr40 NA found
Attr41 NA found
Attr42 NA found
Attr43 NA found
Attr44 NA found
Attr45 NA found
Attr46 NA found
Attr47 NA found
Attr48 NA not found
Attr49 NA found
Attr50 NA found
Attr51 NA not found
Attr52 NA found
Attr53 NA found
Attr54 NA found
Attr55 NA not found
Attr56 NA found
Attr57 NA found
Attr58 NA found
Attr59 NA found
Attr60 NA found
Attr61 NA found
Attr62 NA found
Attr63 NA found
Attr64 NA found
class NA not found

In [177]:
total_assets = pd.Series(np.exp(df['Attr29']), index=df['Attr29'].index)
total_equity = df['Attr10']* total_assets

assert not bool(total_assets.isnull().sum())
assert not bool(total_equity.isnull().sum())

total_liabilities = total_assets - total_equity
assert not bool(total_liabilities.isnull().sum())

short_term_liabilities =  df['Attr51']  * total_assets
long_term_liabilities = total_liabilities - short_term_liabilities

assert not bool(short_term_liabilities.isnull().sum())
assert not bool(long_term_liabilities.isnull().sum())

total_sales = pd.Series(np.array(short_term_liabilities) * np.array(df['Attr36']))
assert not bool(total_sales.isnull().sum())

sales = total_assets* df['Attr9'].values
assert not bool(sales.isnull().sum())

### Attr4

In [113]:
current_assets = df['Attr50'] * total_liabilites
print(current_assets.isnull().sum())

current_assets.fillna(30.04, inplace=True)
assert not bool(current_assets.isnull().sum())

print([round(x, 4) for x in np.sort(short_term_liabilities) if x][0])

min_short_term_liabilities = 0.006

short_term_liabilities_new = short_term_liabilities.replace(0, min_short_term_liabilities)
df['Attr4'] = current_assets / short_term_liabilities_new

15
0.0006

In [114]:
print(df['Attr4'].describe())

count     6855.000000
mean        33.219642
std        546.989619
min         -0.047351
25%          1.062958
50%          1.656112
75%          3.066595
max      29476.884654
Name: Attr4, dtype: float64

In [123]:
pd.set_option('display.max_rows', 100)

46-64 <br>

In [156]:
df['Attr45'].sort_values(ascending=True)

6232   -2834.90
4569   -1533.80
4562   -1191.60
4982    -784.52
4588    -337.90
         ...
6711        NaN
6717        NaN
6731        NaN
6749        NaN
6829        NaN
Name: Attr45, Length: 6855, dtype: float64

In [157]:
drop_rows = {2555,2099,4994,1458,3074,1593,5377,423,1207,1934,1593} |  \
{423, 998, 2555, 3527, 5249, 5313, 2654, 5810, 2008, 4192, 2099, 6665, 3074, 1458, 6424, 1593, 6232}

In [165]:
len(drop_rows)

21

In [161]:
for row in drop_rows:
    if df['class'][row] == 1:
        continue
    elif df['class'][row] == 0:
        df.drop([row], axis=0, inplace=True)

In [168]:
df.reset_index(inplace=True)

In [174]:
df = pd.read_csv('outlier_removed_train.csv')

In [183]:
total_assets = pd.Series(np.exp(df['Attr29']), index=df['Attr29'].index)
total_equity = df['Attr10']* total_assets

assert not bool(total_assets.isnull().sum())
assert not bool(total_equity.isnull().sum())

total_liabilities = total_assets - total_equity
assert not bool(total_liabilities.isnull().sum())

short_term_liabilities =  df['Attr51']  * total_assets
long_term_liabilities = total_liabilities - short_term_liabilities

assert not bool(short_term_liabilities.isnull().sum())
assert not bool(long_term_liabilities.isnull().sum())

total_sales = pd.Series(np.array(short_term_liabilities) * np.array(df['Attr36']))
assert not bool(total_sales.isnull().sum())

sales = total_assets* df['Attr9'].values
assert not bool(sales.isnull().sum())

gross_profit = total_assets * df['Attr18']

In [180]:
for idx, col in enumerate(df.columns):
    if df[col].isnull().sum():
        print(col, 'NA found')
    else:
        print(col, 'NA not found')

Attr1 NA not found
Attr2 NA not found
Attr3 NA not found
Attr4 NA not found
Attr5 NA found
Attr6 NA not found
Attr7 NA not found
Attr8 NA found
Attr9 NA not found
Attr10 NA not found
Attr11 NA not found
Attr12 NA found
Attr13 NA found
Attr14 NA not found
Attr15 NA found
Attr16 NA found
Attr17 NA found
Attr18 NA not found
Attr19 NA found
Attr20 NA found
Attr21 NA found
Attr22 NA not found
Attr23 NA found
Attr24 NA found
Attr25 NA not found
Attr26 NA found
Attr27 NA found
Attr28 NA found
Attr29 NA not found
Attr30 NA found
Attr31 NA found
Attr32 NA found
Attr33 NA found
Attr34 NA found
Attr35 NA not found
Attr36 NA not found
Attr37 NA found
Attr38 NA not found
Attr39 NA found
Attr40 NA found
Attr41 NA found
Attr42 NA found
Attr43 NA found
Attr44 NA found
Attr45 NA found
Attr46 NA found
Attr47 NA found
Attr48 NA not found
Attr49 NA found
Attr50 NA found
Attr51 NA not found
Attr52 NA found
Attr53 NA found
Attr54 NA found
Attr55 NA not found
Attr56 NA found
Attr57 NA found
Attr58 NA found
Attr59 NA found
Attr60 NA found
Attr61 NA found
Attr62 NA found
Attr63 NA found
Attr64 NA found
class NA not found

5번은 simple imputation, 8번도 simple

In [182]:
(total_liabilities == 0).sum()

9

In [191]:
df.drop(['Attr37'], axis=1).dropna()['class'].value_counts()

0    5488
1     156
Name: class, dtype: int64

In [192]:
df['class'].value_counts()

0    6475
1     361
Name: class, dtype: int64