In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
%cd /content/gdrive/My Drive/Colab Notebooks/Classification_Bankruptcy/5조

/content/gdrive/My Drive/Colab Notebooks/Classification_Bankruptcy/5조

In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 100)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# 1. Deleting useless variables using correlation

In [4]:
df = pd.read_csv("imputed_final.csv")
df.head()

      Attr1    Attr2    Attr3  ...       Attr63   Attr64  class
0 -0.024558  0.30051  0.10733  ...     8.316700  0.88260    0.0
1  0.639180  0.00000  1.00000  ...  3423.828207  4.01995    0.0
2 -0.440760  0.47723  0.19260  ...     3.688698  3.83760    0.0
3  0.119520  0.17679  0.63546  ...     6.370835  8.51690    0.0
4  0.230400  0.27095  0.23762  ...     5.328408  1.31500    0.0

[5 rows x 50 columns]

In [5]:
df.shape

(6835, 50)

In [6]:
df.columns[24]

'Attr30'

In [7]:
cor = df.iloc[:, :-1].corr()
cor.shape

(49, 49)

변수끼리 상관계수가 0.9가 넘어가면 일단 삭제해보자

In [0]:

def cor_high(df):
    high_correlated = []
    for attr, rows in df.iterrows():
        high = [(attr, rows.index[idx], round(row, 3)) for idx, row in enumerate(rows) if attr != rows.index[idx] and row > 0.9 \
                and ((rows.index[idx], attr, round(row, 3)) not in high_correlated)]
        high_correlated.extend(high)
    return high_correlated

In [9]:
high_correlated_cols = cor_high(cor)
print(high_correlated_cols)

[('Attr1', 'Attr7', 0.991), ('Attr1', 'Attr11', 0.968), ('Attr1', 'Attr14', 0.991), ('Attr7', 'Attr11', 0.98), ('Attr7', 'Attr14', 1.0), ('Attr8', 'Attr16', 0.93), ('Attr8', 'Attr26', 0.926), ('Attr11', 'Attr14', 0.98), ('Attr16', 'Attr26', 0.999), ('Attr16', 'Attr33', 0.931), ('Attr26', 'Attr33', 0.93), ('Attr32', 'Attr52', 0.978)]

타겟변수와 상관계수가 더 작은애들을 삭제하자

In [10]:
drop_cols = set()

for col1, col2, _ in high_correlated_cols:
    cor1, cor2 = pd.concat([df[col1], df['class']], axis=1).corr(), pd.concat([df[col2], df['class']], axis=1).corr()
    cor1, cor2 = cor1.iloc[0, 1], cor.iloc[0, 1]
    drop_cols.add(col1 if  abs(cor1) <  abs(cor2) else col2)

print(drop_cols)

{'Attr1', 'Attr16', 'Attr7', 'Attr8', 'Attr32', 'Attr26', 'Attr11'}

In [11]:
df.drop(drop_cols, axis=1, inplace=True)
print(df.shape) # 6 columns are removed

(6835, 43)

# 2. Additional Dimensionality Reduction
[link](https://scikit-learn.org/stable/modules/feature_selection.html)

In [0]:
X, y = df.iloc[:, :-1], df.iloc[:, -1]

In [13]:
X[X > 0].dropna(how='any', axis='columns').shape

(6835, 2)

다 양수인 컬럼이 2개밖에 없어서 chi2 검정은 못할 것 같습니다.. <br>
- F-검정을 활용한 feature selection -> k개를 조정해가면서 몇개 정도로 하는게 맞는지?
- L1-based feature selection
- Tree-based feature selection
- PCA, FA를 활용한 차원축소 <br>
<b> 정리하자면 우리 데이터에 맞는 모델링 기법을 하나 정한 후 위의 4가지 방법을 다 실행해보고 차원축소를 진행한 후, <br>
앙상블 기법으로(하이퍼파라미터 튜닝 물론 선행) 모델을 만들어보자! </b> <br>
우리가 배운 classification 기법: Logistic Regression, LDA, Support Vector, Trees