In [1]:
import numpy as np
np.set_printoptions(precision = 3)
import pandas as pd
pd.set_option('display.precision',3)
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
sns.set_style('whitegrid')
happy = pd.read_csv('C:/Users/이가은/Desktop/happy_new.csv',thousands = ',')

In [5]:
rli= happy.loc[:,"RLI"]
rli=pd.DataFrame(rli)
rli.info()
rli.loc[rli["RLI"]==4, "RLI"] = 5
happy['RLI']=rli["RLI"]
happy['RLI'].isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31848 entries, 0 to 31847
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RLI     31848 non-null  int64
dtypes: int64(1)
memory usage: 248.9 KB

0

In [7]:
q18=happy.loc[:,"Q18"]
q18= happy.loc[:,"Q18"]
q18=pd.DataFrame(q18)
q18.info()
q18.loc[q18["Q18"]==6, "Q18"] = 2
happy['Q18']=q18["Q18"]
happy['Q18'].isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31848 entries, 0 to 31847
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q18     31848 non-null  int64
dtypes: int64(1)
memory usage: 248.9 KB

0

In [8]:
q25_a1=happy.loc[:,"Q25A1"]
q25_a1= happy.loc[:,"Q25A1"]
q25_a1=pd.DataFrame(q25_a1)
q25_a1.info()
q25_a1.loc[q25_a1["Q25A1"]==7, "Q25A1"] = 1
happy['Q25A1']=q25_a1["Q25A1"]
happy['Q25A1'].isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31848 entries, 0 to 31847
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q25A1   31848 non-null  int64
dtypes: int64(1)
memory usage: 248.9 KB

0

In [9]:
q31_a1=happy.loc[:,"Q31A1"]
q31_a1= happy.loc[:,"Q31A1"]
q31_a1=pd.DataFrame(q31_a1)
q31_a1.info()
q31_a1.loc[q31_a1["Q31A1"]==10, "Q31A1"] = 1
happy['Q31A1']=q31_a1["Q31A1"]
happy['Q31A1'].isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31848 entries, 0 to 31847
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q31A1   31848 non-null  int64
dtypes: int64(1)
memory usage: 248.9 KB

0

In [10]:
q39=happy.loc[:,"Q39"]
q39= happy.loc[:,"Q39"]
q39=pd.DataFrame(q39)
q39.info()
q39.loc[q39["Q39"]==98, "Q39"] = 2
q39.loc[q39["Q39"]==5, "Q39"] = 2
happy['Q39']=q39["Q39"]
happy['Q39'].isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31848 entries, 0 to 31847
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q39     31848 non-null  int64
dtypes: int64(1)
memory usage: 248.9 KB

0